.suivi-echeances-container {
  max-width: 80%;
  margin: 0 auto;
  font-weight: bold;
  font-family: Comic Sans MS;

  @media screen and (max-width: 768px) {
    max-width: 100%;
  }
}

.title-options-container {
  display: flex;
  justify-content: space-between;
  background-color: #f6f6f6;
  margin-top: 30px;
  margin-bottom: 10px;
  height: 70px;
  border: solid 1px rgb(140, 140, 140);
  border-radius: 10px;
}

.component-title {
  display: flex;
  align-items: center;
  padding-top: 15px;

  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
  }
}

.header-options {
  display: flex;
  align-items: center;

  div {
    margin-right: 20px;

    label {
      margin-right: 10px;
    }

    select,
    input {
      font-weight: normal;
      padding: 5px;
      font-size: 14px;
    }
  }
}

.months {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 10px;
  border-bottom: solid 1px rgb(140, 140, 140);

  .month {
    padding-bottom: 3px;
    margin: 10px;

    span {
      color: #3498db;
      padding: 8px;
      border-radius: 5px;
      margin-right: 5px;
      cursor: pointer;
    }

    span:hover,
    span.selected {
      background-color: #e2f4ff;
      border-bottom: solid 5px #3498db;
    }

    .month-name {
      position: absolute;
      color: #3498db;
      left: 45%;
      top: 120%;
      margin-bottom: 20px;
    }

    .weeks {
      position: absolute;
      margin-top: 20px;
      width: 100%;
      top: 160%;
      left: 0;
      display: flex;
      justify-content: space-around;
      background-color: #fff;
    }
  }
}

.week {
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  width: calc(100% / 6);

  .week-header {
    color: rgb(195, 190, 190);
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
  }

  .echeance {
    margin-bottom: 5px;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-weight: normal;

    .date-echeance {
      text-align: center;
      background-color: rgb(237, 234, 234);
      border-radius: 10px;
      margin-bottom: 10px;
    }

    .content-echeance {
      border: 1px solid #ccc;
      font-family: 'Trebuchet MS', sans-serif;
      padding: 10px;
      border-radius: 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .title-options-container {
    flex-direction: column;

    .component-title {
      text-align: center;
    }
  }

  .header-options {
    flex-direction: column;

    div {
      margin-bottom: 10px;

      label {
        margin-right: 0;
        margin-bottom: 5px;
      }

      select,
      input {
        width: 100%;
        margin-right: 0;
      }
    }
  }

  .months {
    flex-direction: column;

    .month {
      margin-bottom: 20px;

      .month-name {
        display: none;
      }

      .weeks {
        position: static;
        width: 100%;
        flex-direction: column;
      }
    }
  }
}
