<h1>
  <pre>                   
                      Table Des Historiques <span class="badge bg-secondary">New</span></pre>
</h1>
<div class="container p-2 d-flex">
  <div class="container border rounded p-3">
    <div class="row history border-bottom">
      <div class="col-1 fw-bold">
        <p>ID</p>
      </div>
      <div class="col fw-bold">
        <p>Action</p>
      </div>
      <div class="col fw-bold">
        <p>Date</p>
      </div>
      <div class="col-6 fw-bold">
        <div>
          <p>Description</p>
        </div>
      </div>

      <div class="col-2 fw-bold">
        <p>Gestion</p>
      </div>
    </div>
    <div class="row history border-bottom py-2" *ngFor="let history of histories">
      <div class="col-1">
        <p class="fw-bold">{{ history.id }}</p>
      </div>
      <div class="col">
        <p class="fw-bold">{{ history.action }}</p>
      </div>
      <div class="col history__header__date">
        <p>{{ history.date | date: 'dd/MM/yyyy' }}</p>
      </div>
      <div class="col-6 history__content">
        <div class="history__content__description text-wrap">
          <p>{{ history.description }}</p>
        </div>
      </div>

      <div class="col-2 d-flex flex-row justify-content-around align-items-center">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal">
          Modifier
        </button>
        <button
          class="btn btn-danger"
          (click)="deleteHistorique(history.id)"
          data-bs-target="#exampleModal">
          Supprimer
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifier l'action</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3 needs-validation" novalidate>
          <div class="col-md-4">
            <label for="validationCustom01" class="form-label">ID</label>
            <input type="text" class="form-control" id="validationCustom01" required />
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="col-md-4">
            <label for="validationCustom02" class="form-label">Action</label>
            <input type="text" class="form-control" id="validationCustom02" required />
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="col-md-4">
            <label for="validationCustomUsername" class="form-label">Date</label>
            <div class="input-group has-validation">
              <input
                type="text"
                class="form-control"
                id="validationCustomUsername"
                aria-describedby="inputGroupPrepend"
                required />
              <div class="invalid-feedback">Please choose a date.</div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="validationCustom03" class="form-label">Description</label>
            <input type="text" class="form-control" id="validationCustom03" required />
            <div class="invalid-feedback">Please provide a valid description.</div>
          </div>

          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required />
              <label class="form-check-label" for="invalidCheck">
                Je suis sure des modifications.
              </label>
              <div class="invalid-feedback">You must agree before submitting.</div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="toggleSuccessAlert()">
          Enregistrer
        </button>
      </div>
    </div>
  </div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>

<div class="alert alert-success" role="alert" *ngIf="showSuccessAlert">Historique Supprimé !</div>
<div class="alert alert-success" role="alert" *ngIf="showSuccessAlert1">Historique Modifiée !</div>
