<h2>Compte de Résultat</h2>

<table>
<thead>
<tr>
    <th>Catégorie</th>
    <th>Montant</th>
</tr>
</thead>
<tbody>
<tr>
    <td>Chiffre d'affaires</td>
    <td>{{ comptederésultatdata.chiffreAffaires }}</td>
</tr>
<tr>
    <td>Coût des ventes</td>
    <td>{{ comptederésultatdata.coutDesVentes }}</td>
</tr>
<tr>
    <td>Marge brute</td>
    <td>{{ comptederésultatdata.margeBrute }}</td>
</tr>
<tr>
    <td>Charges fixes</td>
    <td>{{ comptederésultatdata.chargesFixes }}</td>
</tr>
<tr>
    <td>Résultat d'exploitation</td>
    <td>{{ comptederésultatdata.résultatExploitation }}</td>
</tr>
<tr>
    <td>Charges financières</td>
    <td>{{ comptederésultatdata.chargesFinancières }}</td>
</tr>
<tr>
    <td>Résultat avant impôts</td>
    <td>{{ comptederésultatdata.résultatAvantImpots }}</td>
</tr>
<tr>
    <td>Impôt sur les sociétés</td>
    <td>{{ comptederésultatdata.impotSurSociétés }}</td>
</tr>
<tr>
    <td><b>Résultat net</b></td>
    <td><b>{{ comptederésultatdata.résultatNet }}</b></td>
</tr>
</tbody>
</table>

