<div class="row">
  <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
    <div class="card auth">
      <div class="card-body auth-card">
        <form>
          <div class="form-group">
            <label for="email">Champ1</label>
            <input type="text" name="nomChamp2" class="form-control" placeholder="X" />
          </div>
          <br />

          <div class="form-group">
            <label for="password">Champ2</label>
            <input type="text" name="password" class="form-control" placeholder="Y" />
          </div>
          <br />

          <div class="form-group">
            <label for="password">Champ3</label>
            <input type="text" name="password" class="form-control" placeholder="Z" />
          </div>
          <br />

          <button type="button" class="btn btn-dark">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
