<div class="row">
    <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
      <div class="card auth">
        <div class="card-body auth-card">
          <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="email">Email :</label>
              <input type="text" formControlName="email" class="form-control" placeholder="Email" />
              <div *ngIf="forgotPasswordForm.get('email').hasError('email') && forgotPasswordForm.get('email').touched">
                Veuillez saisir une adresse e-mail valide.
              </div>
            </div>
  
            <div class="text-center">
              <input type="submit" class="btn btn-my" value="Send Email" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  