<div class="Historique-container">
  <h2>Historique des Actions</h2>
  <ul>
    <li *ngFor="let action of actionHistory">
      <div class="action-details">
        <div class="action-info">
          <p>{{ action.description }}</p>
          <span class="action-date">{{ action.date }}</span>
        </div>
        <div class="user-container">
          <img
            src="{{ action.userImageURL }}"
            width="70"
            height="70"
            alt="userImage"
            class="user-image" />
          <span class="action-userName">{{ action.userName }}</span>
        </div>
      </div>
    </li>
  </ul>
</div>
