<div class="row">
    <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
      <div class="card auth">
        <div class="card-body auth-card">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="email">Email :</label>
              <input type="text" formControlName="email" class="form-control" placeholder="Email" />
              <div *ngIf="loginForm.get('email').hasError('email') && loginForm.get('email').touched">
                Veuillez saisir une adresse e-mail valide.
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password :</label>
              <input type="password" formControlName="password" class="form-control" placeholder="********" />
              <div *ngIf="loginForm.get('password').hasError('pattern') && loginForm.get('password').touched">
                Le mot de passe doit être fort (contenant des caractères spéciaux, une lettre majuscule, etc.).
              </div>
              <div class="text-right forget-pass">
                <a routerLink="/forget-password">Forget Password ?</a>
              </div>
            </div>
            <div class="text-center">
              <input type="submit" class="btn btn-my" value="Login" />
            </div>
          </form>
          <div class="text-center sign-up">
            Don't have an account ?
            <a routerLink="/sign-up">Sign Up</a>
            here.
          </div>
        </div>
      </div>
    </div>
  </div>
  