

<div class="row offset-md-1">
  <div class="col-md-10 ">
    <div class="card auth ">
      <div class="row ">
        <div class="col-md-5 auth-image offset-md-1">
          <img src="assets/signup.jpg" alt="Auth Image" class="img-fluid">
        </div>
        <div class="col-md-5">
          <div class="card-body auth-card">
            <form class="row g-3" >
              <div class="col-md-6">
                <label for="name" class="form-label">First name</label>
                <input type="text" name="name" class="form-control"  placeholder="First name" required="">
               
              </div>
              <div class="col-md-6">
                <label for="name" class="form-label">Last name</label>
             <input type="text" name="name" class="form-control"  placeholder="Last name" required="">
                
              </div>
               <div class="col-md-6">
                <label for="phone" class="form-label">Phone number</label>
             <input type="text" name="phone" class="form-control"  placeholder="Phone number" required="">
                
              </div>
              
              <div class="col-md-6">
                <label for="email" class="form-label">Email</label>
             <input type="text" name="email" class="form-control"  placeholder="Phone number" required="">
                
              </div>
            
            <div class="col-md-12">
                <label for="password" class="form-label">Password</label>
             <input type="text" name="password" class="form-control"  placeholder="Password" required="">
                
              </div>  
              <div class="col-md-12">
                <label for="c_password" class="form-label">Confirm Password</label>
             <input type="text" name="c_password" class="form-control"  placeholder="Password" required="">
                
              </div>
              
              <div class="col-md-6">
                <label for="name" class="form-label">Civility</label>
                
                 <select class="form-select" aria-label="Default select">
              <option selected="">Select civility</option>
              <option value="1">Single</option>
              <option value="2">Married</option>
              <option value="3">Devorced</option>
            </select>
                
              </div>
              
              <div class="col-md-6">
                <label for="name" class="form-label">Function</label>
             <input type="text" name="name" class="form-control"  placeholder="Function" required="">
                
              </div>
              <div class="col-md-6">
                <label for="name" class="form-label">Sector</label>
                
                 <select class="form-select" aria-label="Default select">
              <option selected="">Select Sector</option>
              <option value="1">Agricultural</option>
              <option value="2">Industrial</option>
              <option value="3">Commercial</option>
            </select>
                
              </div>
              
              <div class="col-md-6">
                <label for="name" class="form-label">Entreprise</label>
             <input type="text" name="name" class="form-control"  placeholder="Entreprise" required="">
                
              </div>
            
              <div class="text-center">
                <input type="submit" class="btn btn-my" value="Sign Up" />
              </div>
              <div class="text-center login">
                Already have an account ?
                <a routerLink="/login">Login</a>
                here.
              </div>
            </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







