<!--
  <div class="row">
  <div class="col-md-4 offset-md-4 ">
    <div class="card auth">
      <div class="card-body auth-card">
        <form>
          <div class="form-group">
            <label for="name">First Name :</label>
            <input type="text" name="name" class="form-control" placeholder="First Name" />
          </div>
          <div class="form-group dj-danger">
            <label for="name">Last Name :</label>
            <input type="text" name="name" class="form-control" placeholder="Last Name" />
          </div>

          <div class="form-group">
            <label for="phone">Phone :</label>
            <input type="text" name="phone" class="form-control" placeholder="Phone" />
          </div>
          <div class="form-group">
            <label for="email">Email :</label>
            <input type="text" name="email" class="form-control" placeholder="Email" />
          </div>
          <div class="form-group">
            <label for="password">Password :</label>
            <input type="password" name="password" class="form-control" placeholder="********" />
          </div>
          <div class="form-group">
            <label for="c_password">Confirm Password :</label>
            <input type="password" name="c_password" class="form-control" placeholder="********" />
          </div>
          <div class="form-group">
            <label for="name">Civilité :</label>
            <input type="text" name="name" class="form-control" placeholder="Votre Civilité" />
          </div>
          <div class="form-group">
            <label for="name">Fonction :</label>
            <input type="text" name="name" class="form-control" placeholder="Votre Fonction" />
          </div>
          <div class="form-group">
            <label for="name">Secteur :</label>
            <input type="text" name="name" class="form-control" placeholder="Secteur d'Activité" />
          </div>
          <div class="form-group">
            <label for="name">Nom Société :</label>
            <input type="text" name="name" class="form-control" placeholder="Société" />
          </div>
          
          <div class="text-center">
            <input type="submit" class="btn btn-my" value="Sign Up" />
          </div>
          <div class="text-center login">
            Already have an account ?
            <a routerLink="/login">Login</a>
            here.
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
-->

<div class="row">
  <div class="col-md-4 offset-md-4 ">
    <div class="card auth">
      <div class="card-body auth-card">
        
        <form class="row g-3" >
          <div class="col-md-6">
            <label for="name" class="form-label">First name</label>
            <input type="text" name="name" class="form-control"  placeholder="First name" required="">
           
          </div>
          <div class="col-md-6">
            <label for="name" class="form-label">Last name</label>
         <input type="text" name="name" class="form-control"  placeholder="Last name" required="">
            
          </div>
           <div class="col-md-6">
            <label for="phone" class="form-label">Phone number</label>
         <input type="text" name="phone" class="form-control"  placeholder="Phone number" required="">
            
          </div>
          
          <div class="col-md-6">
            <label for="email" class="form-label">Email</label>
         <input type="text" name="email" class="form-control"  placeholder="Phone number" required="">
            
          </div>
        
        <div class="col-md-12">
            <label for="password" class="form-label">Password</label>
         <input type="text" name="password" class="form-control"  placeholder="Password" required="">
            
          </div>  
          <div class="col-md-12">
            <label for="c_password" class="form-label">Confirm Password</label>
         <input type="text" name="c_password" class="form-control"  placeholder="Password" required="">
            
          </div>
          
          <div class="col-md-6">
            <label for="name" class="form-label">Civility</label>
            
             <select class="form-select" aria-label="Default select">
          <option selected="">Open this select menu</option>
          <option value="1">Single</option>
          <option value="2">Married</option>
          <option value="3">Devorced</option>
        </select>
            
          </div>
          
          <div class="col-md-6">
            <label for="name" class="form-label">Function</label>
         <input type="text" name="name" class="form-control"  placeholder="Function" required="">
            
          </div>
          <div class="col-md-6">
            <label for="name" class="form-label">Sector</label>
            
             <select class="form-select" aria-label="Default select">
          <option selected="">Open this select menu</option>
          <option value="1">Agricultural</option>
          <option value="2">Industrial</option>
          <option value="3">Commercial</option>
        </select>
            
          </div>
          
          <div class="col-md-6">
            <label for="name" class="form-label">Entreprise</label>
         <input type="text" name="name" class="form-control"  placeholder="Entreprise" required="">
            
          </div>
        
          <div class="text-center">
            <input type="submit" class="btn btn-my" value="Sign Up" />
          </div>
          <div class="text-center login">
            Already have an account ?
            <a routerLink="/login">Login</a>
            here.
          </div>
        </form>
      </div>
    </div>
  </div>
</div>








