<div class="container border rounded p-3">
  <div class="row audit border-bottom">
    <div class="col-1 fw-bold">
      <p>ID</p>
    </div>
    <div class="col fw-bold">
      <p>action</p>
    </div>
    <div class="col fw-bold">
      <p>date</p>
    </div>
    <div class="col-6 fw-bold">
      <div>
        <p>description</p>
      </div>
    </div>

    <div class="col-2 fw-bold">
      <p>actions</p>
    </div>
  </div>
  <div class="row audit border-bottom py-2" *ngFor="let audit of audits">
    <div class="col-1">
      <p class="fw-bold">{{ audit.id }}</p>
    </div>
    <div class="col">
      <p class="fw-bold">{{ audit.action }}</p>
    </div>
    <div class="col audit__header__date">
      <p>{{ audit.date | date: 'dd/MM/yyyy' }}</p>
    </div>
    <div class="col-6 audit__content">
      <div class="audit__content__description text-wrap">
        <p>{{ audit.description }}</p>
      </div>
    </div>

    <div class="col-2 d-flex flex-row justify-content-around align-items-center">
      <button class="btn btn-primary">Edit</button>
      <button class="btn btn-danger" (click)="deleteAudit(audit.id)">Delete</button>
    </div>
  </div>
</div>
