<div *ngIf="!isLoggedIn; else loggedIn">
  <h2>Connexion</h2>
  <form (ngSubmit)="login()">
    <label for="username">Nom d'utilisateur:</label>
    <input type="text" id="username" name="username" required />

    <label for="password">Mot de passe:</label>
    <input type="password" id="password" name="password" required />

    <button type="submit">Se connecter</button>
  </form>
</div>
<ng-template #loggedIn>
  <div>
    <p>Bienvenue, {{ username }}!</p>
    <button (click)="logout()">Se déconnecter</button>
  </div>
</ng-template>
