<!-- liste-clients.component.html -->
<div class="container mt-4">
  <button class="btn btn-primary" (click)="open(content)">Ajouter Relevé Bancaire</button>

  <div *ngIf="errorMessage" class="alert alert-danger mt-3">
    {{ errorMessage }}
  </div>

  <table class="table mt-4">
    <thead>
      <tr>
        <th>ID</th>
        <th>Numéro de Compte</th>
        <th>Date Relevé</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bankAccount of bankAccounts">
        <td>{{ bankAccount.id }}</td>
        <td>{{ bankAccount.accountNumber }}</td>
        <td>{{ bankAccount.statements[0].date }}</td>
        <td>
          <button class="btn btn-info btn-sm" (click)="open(content, bankAccount)">Afficher</button>
          <button class="btn btn-warning btn-sm m-1" (click)="open(content, bankAccount)">
            Editer
          </button>
          <button class="btn btn-danger btn-sm" (click)="deleteBankAccount(bankAccount)">
            Supprimer
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      {{ selectedBankAccount ? 'Edit Bank Account' : 'Add Bank Account' }}
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="accountNumber">Numéro de Compte</label>
        <input
          type="text"
          class="form-control"
          id="accountNumber"
          [(ngModel)]="selectedBankAccount!.accountNumber"
          name="accountNumber"
          required />
      </div>

      <!-- Add a section to input new bank statement details -->
      <div class="form-group">
        <h5>Ajouter un Nouveau Relevé Bancaire</h5>
        <label for="addStatementDate">Date</label>
        <input
          type="date"
          class="form-control"
          id="addStatementDate"
          [(ngModel)]="addStatementDate"
          name="addStatementDate"
          required />
        <label for="addStatementDescription">Operation</label>
        <input
          type="text"
          class="form-control"
          id="addStatementDescription"
          [(ngModel)]="addStatementDescription"
          name="addStatementDescription"
          required />
        <label for="addStatementAmount">Montant</label>
        <input
          type="number"
          class="form-control"
          id="addStatementAmount"
          [(ngModel)]="addStatementAmount"
          name="addStatementAmount"
          required />
        <label for="addStatementType">Type</label>
        <select
          class="form-control"
          id="addStatementType"
          [(ngModel)]="addStatementType"
          name="addStatementType">
          <option value="depot">Dépôt</option>
          <option value="credit">Crédit</option>
        </select>
        <button type="button" class="btn btn-primary mt-2" (click)="addStatement()">
          Ajouter Relevé
        </button>
      </div>
    </form>

    <!-- Bank Statements as Table -->
    <div *ngIf="(selectedBankAccount?.statements)!.length > 0" class="mt-4">
      <h4>Relevé Bancaire</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Operation</th>
            <th>Montant</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let statement of selectedBankAccount!.statements">
            <td>{{ statement.date }}</td>
            <td>{{ statement.description }}</td>
            <td
              [ngClass]="{
                'text-success': statement.type === 'debit',
                'text-danger': statement.type === 'credit'
              }">
              {{ statement.amount | currency: 'USD' : 'symbol' : '1.2-2' }}
            </td>
            <td>{{ statement.type }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cancel click')">
      Fermer
    </button>
    <button type="button" class="btn btn-primary" (click)="addOrUpdateBankAccount()">
      Enregistrer
    </button>
  </div>
</ng-template>
