<!-- profile.component.html -->

<div class="container mt-5">
  <h2>Gestion du Profil</h2>

  <mat-tab-group mat-align-tabs="center">
    <!-- Onglet Informations personnelles -->
    <mat-tab label="Informations personnelles">
      <form #personalInfoForm="">
        <div class="row">
          <div class="col-md-3"><label>Genre:</label></div>
          <div class="col-md-9">
            <div>
              <div>
                <label>
                  <input type="radio" name="gender" value="Femme" required />
                  Femme
                </label>
              </div>

              <div>
                <label>
                  <input type="radio" name="gender" value="Homme" required />
                  Homme
                </label>
              </div>

              <div>
                <label>
                  <input type="radio" name="gender" value="Autre" required />
                  Autre
                </label>
              </div>
            </div>
          </div>
        </div>
        <!-- Ajoutez ici les champs pour les informations personnelles -->
        <div class="row">
          <div class="col-md-3"><label for="firstName">Prénom:</label></div>
          <div class="col-md-9">
            <input type="text" id="firstName" name="firstName" required />
          </div>
        </div>
        <div class="mt-3">
          <h3>Changer le mot de passe</h3>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label for="oldPassword">Ancien mot de passe:</label>
          </div>
          <div class="col-md-9">
            <input type="password" id="oldPassword" name="oldPassword" required />
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <label for="newPassword">Nouveau mot de passe:</label>
          </div>
          <div class="col-md-9">
            <input type="password" id="newPassword" name="newPassword" required />
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <label for="confirmPassword">Confirmer le nouveau mot de passe:</label>
          </div>
          <div class="col-md-9">
            <input type="password" id="confirmPassword" name="confirmPassword" required />
          </div>
        </div>

        <!-- Bouton de soumission pour les informations personnelles -->
        <button type="submit" class="btn btn-primary">
          Enregistrer les modifications personnelles
        </button>
      </form>
    </mat-tab>

    <!-- Onglet Informations professionnelles -->
    <mat-tab label="Informations professionnelles">
      <form #professionalInfoForm="">
        <!-- Ajoutez ici les champs pour les informations professionnelles -->
        <div class="row">
          <div class="col-md-3"><label for="status">Statut:</label></div>
          <div class="col-md-9"><input type="text" id="status" name="status" /></div>
        </div>
        <div class="row">
          <div class="col-md-3"><label for="level">Niveau:</label></div>
          <div class="col-md-9"><input type="text" id="level" name="level" /></div>
        </div>

        <!-- ... Ajoutez d'autres champs pour les informations professionnelles -->

        <!-- Bouton de soumission pour les informations professionnelles -->
        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
      </form>
    </mat-tab>
  </mat-tab-group>
</div>
