<h2>Bilan</h2>

<div>
  <table>
    <thead>
      <tr>
        <th>Actif</th>
        <th>Montant</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Actifs circulants</td>
        <td>{{ bilandata.actifsCirculants }}</td>
      </tr>
      <tr>
        <td>Actifs immobilisés</td>
        <td>{{ bilandata.actifsImmobilises }}</td>
      </tr>
      <tr>
        <td>Total Actifs</td>
        <td>{{ bilandata.totalActifs }}</td>
      </tr>
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th>Passif</th>
        <th>Montant</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Passifs courants</td>
        <td>{{ bilandata.passifsCourants }}</td>
      </tr>
      <tr>
        <td>Passifs non courants</td>
        <td>{{ bilandata.passifsNonCourants }}</td>
      </tr>
      <tr>
        <td>Total Passifs</td>
        <td>{{ bilandata.totalPassifs }}</td>
      </tr>
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th>Capitaux propres</th>
        <th>Montant</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Capital social</td>
        <td>{{ bilandata.capitalSocial }}</td>
      </tr>
      <tr>
        <td>Réserves</td>
        <td>{{ bilandata.reserves }}</td>
      </tr>
      <tr>
        <td>Total Capitaux propres</td>
        <td>{{ bilandata.totalCapitauxPropres }}</td>
      </tr>
    </tbody>
  </table>
</div>
