<div class="body-with-toolbar mt-5">
  <form>
    <div class="form-group">
      <label for="email">Matricule Fiscale</label>
      <input type="text" name="matFiscale" class="form-control" placeholder="1234567 P/A/P/000" />
    </div>
    <br />

    <div class="form-group">
      <label for="password">Nom</label>
      <input type="text" name="nom" class="form-control" placeholder="Rezig" />
    </div>
    <br />

    <div class="form-group">
      <label for="password">Prénom</label>
      <input type="text" name="prenom" class="form-control" placeholder="Selim" />
    </div>
    <br />
    <div class="form-group">
      <label for="password">Adresse</label>
      <input type="text" name="adresse" class="form-control" placeholder="Av. Mohamed V" />
    </div>
    <br />
    <div class="form-group">
      <label for="password">Code postale</label>
      <input type="text" name="codepostale" class="form-control" placeholder="2034" />
    </div>
    <br />
    <div class="form-group">
      <label for="password">Activité</label>
      <input type="text" name="activite" class="form-control" placeholder="Médecin" />
    </div>
    <br />
    <div class="form-group">
      <label for="password">Sous-activité</label>
      <input type="text" name="sousactivite" class="form-control" placeholder="Médecin spécialiste" />
    </div>
    <br />
    <div class="form-group">
      <label for="password">Année</label>
      <input type="text" name="annee" class="form-control" placeholder="2023" />
    </div>
    <br />

    <div class="form-group">
      <label for="password">Total HT</label>
      <input type="text" name="ht" class="form-control" placeholder="200" />
    </div>
    <br />
    <div class="form-group">
      <label for="password">Total TVA</label>
      <input type="text" name="tva" class="form-control" placeholder="300" />
    </div>
    <br />

    <button type="button" class="btn btn-dark">Soumettre</button>
  </form>
</div>

<!-- à modifier les champs : tva hors taxe date
voir champs localdeccomptabilite.json , mch lkol! -->