<div class="container mt-4">
  <h2>Liste Des Clients</h2>

  <button class="btn btn-primary" (click)="open(content)">Ajouter Client</button>

  <div *ngIf="errorMessage" class="alert alert-danger mt-3">
    {{ errorMessage }}
  </div>

  <table class="table mt-4">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Email</th>
        <th>Numero Telephone</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients">
        <td>{{ client.id }}</td>
        <td>{{ client.name }}</td>
        <td>{{ client.email }}</td>
        <td>{{ client.phoneNumber }}</td>
        <td>
          <button class="btn btn-info btn-sm" (click)="open(content, client)">Afficher</button>
          <button class="btn btn-warning btn-sm m-1" (click)="open(content, client)">Editer</button>
          <button class="btn btn-danger btn-sm" (click)="deleteClient(client)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      {{ selectedClient ? 'Edit Client' : 'Add Client' }}
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="selectedClient!.name"
          name="name"
          required />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          [(ngModel)]="selectedClient!.email"
          name="email"
          required />
      </div>
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input
          type="tel"
          class="form-control"
          id="phoneNumber"
          [(ngModel)]="selectedClient!.phoneNumber"
          name="phoneNumber"
          required />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cancel click')">
      Close
    </button>
    <button type="button" class="btn btn-primary" (click)="addOrUpdateClient()">
      Save changes
    </button>
  </div>
</ng-template>
