/* historique-actions.component.scss */

.Historique-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
  font-family: Copperplate Gothic;
}

h2 {
  color: #3498db;
  font-size: 28px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: #ecf0f1;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;

  &:hover {
    background-color: #e2f4ff;
    transform: scale(1.02);
  }

  .action-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
  }

  .action-info {
    flex-grow: 1;
    font-size: larger;
  }

  .action-date {
    font-size: 14px;
    color: #777;
  }

  .user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 130px;

    .user-image {
      border-radius: 50%;
      margin-bottom: 10px;
    }
  }

  .action-userName {
    text-align: center;
  }
}
