<div class="row">
  <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
    <div class="card auth">
      <div class="card-body auth-card">
        <form>
          <div class="form-group">
            <label for="name">First Name :</label>
            <input type="text" name="name" class="form-control" placeholder="First Name" />
          </div>
          <div class="form-group dj-danger">
            <label for="name">Last Name :</label>
            <input type="text" name="name" class="form-control" placeholder="Last Name" />
          </div>

          <div class="form-group">
            <label for="phone">Phone :</label>
            <input type="text" name="phone" class="form-control" placeholder="Phone" />
          </div>
          <div class="form-group">
            <label for="email">Email :</label>
            <input type="text" name="email" class="form-control" placeholder="Email" />
          </div>
          <div class="form-group">
            <label for="password">Password :</label>
            <input type="password" name="password" class="form-control" placeholder="******" />
          </div>
          <div class="form-group">
            <label for="c_password">Confirm Password :</label>
            <input type="password" name="c_password" class="form-control" placeholder="******" />
          </div>
          <div class="form-group">
            <label for="name">Civilité :</label>
            <input type="text" name="name" class="form-control" placeholder="Votre Civilité" />
          </div>
          <div class="form-group">
            <label for="name">Fonction :</label>
            <input type="text" name="name" class="form-control" placeholder="Votre Fonction" />
          </div>
          <div class="form-group">
            <label for="name">Secteur :</label>
            <input type="text" name="name" class="form-control" placeholder="Secteur d'Activité" />
          </div>
          <div class="form-group">
            <label for="name">Nom Société :</label>
            <input type="text" name="name" class="form-control" placeholder="Société" />
          </div>
          <div class="text-center login">
            Already have an account ?
            <a href="/Login">Login</a>
            here.
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
