<h1>Cabinet Comptable Virtuel</h1>
<br />
<br />
<div class="row">
  <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
    <div class="card auth">
      <div class="card-body auth-card">
        {{ userFormGroup.value | json }}
        <div class="text-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
        <div class="text-success" *ngIf="successMessage">{{ successMessage }}</div>

        <form [formGroup]="userFormGroup" (ngSubmit)="handleLogin()">
          <div class="form-group">
            <label class="form-label">Email :</label>
            <input type="text" formControlName="email" class="form-control" placeholder="Email" />
          </div>
          <div class="form-group">
            <label class="form-label">Password :</label>
            <input
              type="password"
              formControlName="password"
              class="form-control"
              placeholder="********" />
            <div class="text-right forget-pass">
              <a routerLink="/forget-password">Forget Password ?</a>
            </div>
          </div>
          <div class="text-center">
            <input type="submit" class="btn btn-my" value="Login" />
          </div>
        </form>
        <div class="text-center sign-up">
          Don`t have an account ?
          <a routerLink="/sign-up">Sign Up</a>
          here.
        </div>
      </div>
    </div>
  </div>
</div>
